

.container {
  background-color: #bbb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 10px;
}

.aside {
  overflow: auto;
}
.artboard {
  align-items: center;
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  overflow: auto;
  height: 100%;
}
.optionsMenu {
  border-left: 1px solid #aaa;
  overflow: auto;
}