
.colorGrid {
    display: grid;
    line-height: 0;
    box-shadow: 0 0 0 2px grey;

    margin: 1rem;
    height: fit-content
}
.gridRow {
}
.colorBlock {
    box-sizing: border-box;
    display: inline-block;
    border: 0 none;
    width: 20px;
    height: 20px;
}
.colorBlock:hover {
    box-shadow: 0 0 0 2px grey inset;
}

@media (max-width: 900px) {
    .colorGrid {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vw;
        margin: 0;
        align-content: stretch;
    }
    .gridRow {
        display: flex;
        flex: 1 auto;
    }
    .colorBlock {
        height: auto;
        flex: 1 auto;
    }
}