
.palette {
    border-top: 1px solid #aaa;
    padding-inline: .5rem;
}
.title {
    font-size: 1rem;
}
.swatches {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 10px;
}
.swatch {
    border: 1px solid lightgrey;
    width: 40px;
    height: 40px;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
}