

.loader {
  display: flex;
  height: 72px;
  border-bottom: 2px solid
}
.setLoader {
    display: flex;
    height: 69px;
    overflow: auto;
    flex-wrap: wrap;
}
.setButton {
    margin-inline: 4px;
}
.setButton img {
    height: 44px;
}
.setButtonSelected {
  background-color: #222;
  color: #eee;
}

.actions {
  margin-inline: 8px;
  display: flex;
  height: 69px;
}

.newSetButton {
  background-color: lightgreen;
  img {
    height: 20px;
  }
}

.backButton {
  background-color: lightblue;
  img {
    height: 20px;
  }
}