

.loader {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-inline: auto;
  height: 100px;
  flex: 1 1 auto;
}
.setLoader {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    flex: 0 1 auto;
    margin-block: 3rem;
}
.setButton {
  background-color: #fafafe;
  border-radius: 5px;
  padding: 8px;
    margin: 4px;
    text-align: center;
    text-decoration: none;
}
.setButton:hover {
  background-color: #8383a8;
}
.setButton:active {
  background-color: #50506b;
}
.setButton img {
    height: 100px;
}
.setButtonSelected {
  background-color: #222;
  color: #eee;
}

.newSetButton {
  margin-inline: 8px;
  background-color: lightgreen;
  width: 120px;
  height: 120px;
  align-self: center;
  border-radius: 10px;

  img {
    height: 20px;
  }
}