

.loader {
  display: flex;
}
.setLoader {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}
.setButton {
    margin-inline: 4px;
}
.setButton img {
    height: 100px;
}
.setButtonSelected {
  background-color: #222;
  color: #eee;
}

.newSetButton {
  margin-inline: 8px;
  background-color: lightgreen;
  img {
    height: 20px;
  }
}